:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(45deg, #ffffff, #ffe0e0,#ffffff, #d3f4ff, #ffffff);
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}